@import url('https://fonts.googleapis.com/css?family=Exo|Lato:300,400,700&display=swap');

:root {
    --main-color: hsl(271, 79%, 54%);
    --main-color-light: hsl(271, 79%, 75%);
    --main-color-light-1: hsl(271, 79%, 85%);
    --main-color-dark: hsl(271, 79%, 34%);
    --secondary-color-light: hsl(0, 0%, 100%);
    --secondary-color-light-1: hsl(0, 0%, 83%);
    --secondary-color-dark: hsl(0, 0%, 0%);
    --secondary-color-1: hsl(52, 85%, 54%);
    --secondary-color-2: hsl(0, 75%, 51%);
    --secondary-color-3: hsl(212, 80%, 52%);
    --secondary-color-4: hsl(161, 68%, 49%);
    --header-1: 64px;
    --header-2: 48px;
    --header-3: 42px;
    --header-4: 32px;
    --text-medium: 18px;
    --text-regular: 16px;
    --text-light: 13px;
    --font-weight-bold: 700;
    --font-weight-semi-bold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --font-weight-light: 300;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    height: 100%;

}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Lato", "Exo", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Exo';
    text-align: center;
}

p {
    font-family: 'Lato';
}

.navbar-index {
    background-color: var(--main-color);
    color: var(--secondary-color-light);
    font-family: 'Exo';
}

.navbar-toggler {
    cursor: pointer;
}

.navbar-brand {
    font-family: 'Exo';
    text-shadow: 0 0 0.50rem var(--secondary-color-dark);
}

.navbar-nav {
    font-family: 'Lato' !important;
    font-weight: bold !important;

}

.navbar-nav .nav-link {
    color: var(--secondary-color-light) !important;
    margin: 5px;
}

.navbar-brand:hover {
    color: var(--main-color);
}

.navbar-dark .navbar-nav .nav-link {
    background-color: var(--main-color) !important;
    color: var(--secondary-color-light) !important;
    padding: 10px;
    border-radius: 5px;
    margin-left: 5px;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
    background-color: var(--secondary-color-1) !important;
    color: var(--secondary-color-dark) !important;

}

.navbar-dark .navbar-toggler {
    background-color: var(--main-color) !important;
    border: 2px solid var(--main-color-dark) !important;
    border-color: var(--main-color-dark) !important;
}

.navbar-dark .navbar-toggler:hover,
.navbar-dark .navbar-toggler:focus {
    background-color: var(--main-color-dark) !important;
    border: 2px solid var(--main-color-light) !important;
    border-color: var(--main-color-light) !important;
}

.nav-search-bar {
    border-radius: .25rem;
    border: 3px solid var(--main-color-dark) !important;
    margin-left: 8px;
}

.nav-search-bar:focus,
.nav-search-bar:hover,
.nav-search-bar:active {
    border-radius: .25rem;
    border: 3px solid var(--secondary-color-1) !important;
}

.nav-search {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato' !important;
}

.nav-search .form-control:focus {
    background-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(237, 170, 36, .5) !important;
}

.nav-search .btn-main {
    background-color: var(--main-color);
    color: var(--secondary-color-light);
    border: 2px solid var(--secondary-color-1);
    padding: 6px 10px;
}


.nav-search .btn-main:hover,
.nav-search .btn-main:focus {
    background-color: var(--secondary-color-1) !important;
    color: var(--secondary-color-dark) !important;
    border: 2px solid var(--main-color-dark);
}

.nav-search .btn-main:active {
    background-color: var(--main-color-dark);
    color: var(--secondary-color-light);
    border: 2px solid var(--main-color-dark);
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem;
    padding: 2rem;

}

.hero-image img {
    width: 100%;
    height: auto;
    border-radius: .5rem;
    border: solid 2px var(--main-color-dark) !important;
}

.home-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem;
}

.home-btns a {
    color: var(--secondary-color-dark) !important;
    background-color: var(--main-color-light-1) !important;
    border: var(--main-color-dark) 2px solid !important;
    margin: 0px 10px;
}

.home-btns a:hover,
.home-btns a:focus,
.home-btns a:active {
    background-color: var(--main-color-dark) !important;
    color: var(--secondary-color-light) !important;
    border: var(--main-color-light) 2px solid !important;
    margin: 0px 10px;
    box-shadow: 0 0 0 0.25rem hsla(52,
            85%,
            44%, 0.5) !important;
}

/* CSS inspired from https: //growup-demo.netlify.app/ */
section .home-hero {
    margin: 3rem 0;
}

.hero-text-intro {
    font-size: var(--header-4);
    font-weight: var(--font-weight-bold);
    line-height: 74px;
}

.hero-text-intro span {
    color: var(--main-color);
    text-shadow: 0 0 0.10rem var(--main-color-dark);
}

.hero-text-main {
    font-size: var(--text-regular);
    font-weight: var(--font-weight-regular);
    line-height: 31px;
}



@media (min-width: 1399.98px) {
    .container {
        width: 84%;
    }
}

@media (max-width: 576px) {
    section.home-hero {
        margin: 2rem 0;
        text-align: center;
    }

    .hero-text,
    .hero-text-intro,
    .hero-text-main {
        text-align: center;
    }

    .hero-text-intro {
        font-weight: var(--font-weight-bold);
        font-size: var(--header-3);
        line-height: 64px;
    }

    section.home-hero img {
        margin: 1rem 0;
    }
}

@media (max-width: 768px) {
    section.home-hero {
        margin: 1rem 0;
    }

    .hero-text-intro {
        font-weight: var(--font-weight-bold);
        font-size: var(--header-3);
        line-height: 64px;
    }

    section.home-hero img {
        margin: 2rem 0;
        width: 100%;
        height: auto;
    }
}

@media (max-width: 992px) {
    section.home-hero {
        margin: 1rem 0;
    }

    .hero-text-intro {
        font-weight: var(--font-weight-bold);
        font-size: var(--header-3);
        line-height: 64px;
    }

    section.home-hero img {
        margin: 2rem 0;
    }
}



.btn-main {
    background-color: var(--main-color) !important;
    color: var(--secondary-color-light) !important;
    padding: 5px 10px;
}

.btn-main:hover,
.btn-main:focus,
.btn-main:active {
    background-color: var(--main-color-dark);
}

/* Footer */
.footer {
    background-color: var(--main-color) !important;
    color: white;
}

.footer-text {
    color: white;

}

/* Login and Register forms */
.edit-profile-form,
.login-form,
.register-form {
    border: 1px solid var(--main-color-dark) !important;
    border-radius: .5rem !important;
}

.edit-profile-form .card-header,
.login-form .card-header,
.register-form .card-header {
    background-color: var(--main-color-dark) !important;
    color: var(--secondary-color-light) !important;
    font-family: 'Exo' !important;
    font-weight: bold !important;
    padding-top: 1rem !important;
}

.edit-profile-form .card-body,
.login-form .card-body,
.register-form .card-body {
    flex: 1 1 auto !important;
    padding: 1rem 1rem !important;
}

.edit-profile-form label,
.login-form label,
.register-form label {
    font-family: 'Exo' !important;
    font-weight: bold !important;
}

.edit-profile-form input,
.login-form input,
.register-form input {
    border: 1px solid var(--main-color-dark) !important;
    border-radius: .5rem !important;
    font-family: 'Lato' !important;
}

.edit-profile-form input:focus,
.edit-profile-form input:hover,
.edit-profile-form input:active,
.login-form input:focus,
.login-form input:hover,
.login-form input:active,
.register-form input:focus,
.register-form input:hover,
.register-form input:active {
    outline: none !important;
    border: 1px solid var(--main-color) !important;
    border-radius: .5rem !important;
    box-shadow: 0 0 0 0.25rem rgba(237, 170, 36, .5) !important;
}

.edit-profile-form .btn-main,
.login-form .btn-main,
.register-form .btn-main {
    color: var(--secondary-color-dark) !important;
    background-color: var(--main-color-light-1) !important;
    border: var(--main-color-dark) 2px solid !important;
    margin: 1rem 0rem !important;
    font-family: 'Exo' !important;
    font-weight: bold !important;
}

.edit-profile-form .btn-main:hover,
.edit-profile-form .btn-main:focus,
.edit-profile-form .btn-main:active,
.login-form .btn-main:hover,
.login-form .btn-main:focus,
.login-form .btn-main:active,
.register-form .btn-main:hover,
.register-form .btn-main:focus,
.register-form .btn-main:active {
    background-color: var(--main-color-dark) !important;
    color: var(--secondary-color-light) !important;
    border: var(--main-color-light) 2px solid !important;
    margin: 1rem 0rem !important;
    box-shadow: 0 0 0 0.25rem hsla(52,
            85%,
            44%, 0.5) !important;
}

/* Category and Product forms */
.category-form,
.product-form {
    border: 2px solid var(--main-color-dark);
    border-radius: .5rem;
    padding: 1rem;
    font-family: "Lato", sans-serif;
}

.category-form .fa,
.product-form .fa {
    color: var(--main-color-dark);
    padding: 0.25rem;
    border: 2px var(--main-color) solid;
    border-radius: .25rem;
    margin: 0.25rem;

}

.category-form input,
.product-form input {
    border: 1px solid var(--main-color-light);
    border-radius: .5rem;
    padding: .5rem;
    margin-top: .5rem;
}

.category-form input:focus,
.product-form input:focus {
    outline: none;
    border: 1px solid var(--main-color);
}

.category-form textarea,
.product-form textarea {
    border: 1px solid var(--main-color-light);
    border-radius: .5rem;
    padding: .5rem;
}

.category-form textarea:focus,
.product-form textarea:focus {
    outline: none;
    border: 1px solid var(--main-color);
}

.product-form select {
    border: 1px solid var(--main-color-light);
    border-radius: .5rem;
    padding: .5rem;
    margin-top: .5rem;
}

.product-form select:focus {
    outline: none;
    border: 1px solid var(--main-color);
}

.product-form .btn {
    margin-top: .5rem;
}

/* Flash messages */
.flash-message {
    position: relative;
    right: 0;
    z-index: 9999;
    width: 100%;
    padding: 1rem;
    text-align: center;
    background-color: var(--secondary-color-4);
    color: var(--secondary-color-dark);
    font-weight: bold;
    font-size: 1.2rem;
}

/* Product categories table */
.btn-category {
    color: var(--secondary-color-dark) !important;
    background-color: var(--main-color-light-1) !important;
    border: var(--main-color-dark) 2px solid !important;
    margin: 0px 10px;
}

.btn-category:hover,
.btn-category:focus,
.btn-category:active {
    background-color: var(--main-color-dark) !important;
    color: var(--secondary-color-light) !important;
    border: var(--main-color-light) 2px solid !important;
    margin: 0px 10px;
    box-shadow: 0 0 0 0.25rem hsla(52,
            85%,
            44%, 0.5) !important;
}

.btn-edit {
    color: var(--secondary-color-light) !important;
    background-color: var(--secondary-color-3) !important;
    border: var(--main-color-dark) 2px solid !important;
    margin: 0px 5px;
}

.btn-edit:hover,
.btn-edit:focus,
.btn-edit:active {
    color: var(--secondary-color-3) !important;
    background-color: var(--secondary-color-light) !important;
    border: var(--main-color-dark) 2px solid !important;
    margin: 0px 5px;
}

.btn-delete {
    color: var(--secondary-color-light) !important;
    background-color: var(--secondary-color-2) !important;
    border: var(--main-color-dark) 2px solid !important;
    margin: 0px 5px;
}

.btn-delete:hover,
.btn-delete:focus,
.btn-delete:active {
    color: var(--secondary-color-2) !important;
    background-color: var(--secondary-color-light) !important;
    border: var(--main-color-dark) 2px solid !important;
    margin: 0px 5px;
}

.btn-desc {
    color: var(--secondary-color-light) !important;
    background-color: var(--main-color-light) !important;
    border: var(--main-color-dark) 2px solid !important;
    margin: 0px 5px;
}

.btn-desc:hover,
.btn-desc:focus,
.btn-desc:active {
    color: var(--main-color-light) !important;
    background-color: var(--secondary-color-light) !important;
    border: var(--main-color-dark) 2px solid !important;
    margin: 0px 5px;
}

.table-responsive {
    overflow-y: auto;
    padding: 0 1rem;
    border: var(--main-color-dark) 2px solid;
    border-radius: .5rem;
    color: var(--main-color-dark);
}

tr {
    font-family: 'Lato';
    font-weight: var(--font-weight-light);
    border-radius: .5rem;
    border: var(--main-color-dark) 0 0 2px solid !important;
}

th col-bold :has td {
    font-weight: var(--font-weight-regular);
}

th {
    font-family: 'Exo';
    font-weight: bold;
    border: var(--main-color-dark) 0 0 2px solid !important;
    border-radius: .5rem;
}

/* Products view page with search */
.product-search {
    font-family: 'Lato' !important;

}

.product-search .product-query {
    border-radius: .25rem;
    border: 2px solid var(--main-color-dark) !important;
    background-color: var(--secondary-color-light-1) !important;
}

.product-search button {
    border-radius: .25rem;
    border: 2px solid var(--main-color-dark) !important;
}

.product-search .product-query:focus,
.product-search .product-query:hover,
.product-search .product-query:active {
    border-radius: .25rem;
    border: 2px solid var(--main-color) !important;
    background-color: var(--secondary-color-light) !important;
    box-shadow: none !important;
}

.product-card {
    border: 3px solid var(--main-color-light) !important;
    border-radius: 5px;
}

.product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid var(--main-color-light);
}

.card-footer {
    border-top: var(--main-color-light) solid !important;
    background-color: var(--secondary-color-light) !important;
}

.product-card .card-title {
    color: var(--secondary-color-dark) !important;
    background-color: var(--secondary-color-light-1) !important;
    font-weight: var(--font-weight-bold);
    letter-spacing: .75px;
    padding: 10px;
    border: var(--main-color-dark) 2px solid !important;
    border-radius: .5rem;
}