{% extends "index.html" %} {% block content %}
<h3 class="mt-3 text-center">Add New Product</h3>
<div class="container">
	<form
		style="max-width: 500px; margin: 0 auto"
		id="addProductForm"
		action="{{ url_for('add_product')}}"
		method="POST"
		enctype="multipart/form-data"
		class="product-form">
		<div class="form-group">
			<label for="product_name">Product Name:</label>
			<input
				type="text"
				class="form-control"
				id="product_name"
				name="product_name" />
		</div>
		<div>
			<label for="image_url">Product Image:</label>
			<input
				type="file"
				class="form-control"
				id="image_url"
				name="image_url" />
		</div>
		<div>
			<label for="product_category">Product Category:</label>
			<input
				type="text"
				class="form-control"
				id="product_category"
				name="product_category" />
		</div>
		<div>
			<label for="product_notes">Product Notes:</label>
			<textarea
				type="text"
				class="form-control"
				id="product_notes"
				name="product_notes"
				rows="3"></textarea>
		</div>
		<div>
			<label for="date_added">Date Added:</label>
			<input
				type="date"
				class="form-control"
				id="date_added"
				name="date_added" />
		</div>
		<!-- Add other input fields as needed -->
		<button
			type="submit"
			class="btn btn-primary mt-3">
			Add Product
		</button>
	</form>
</div>
{% endblock %}
