{% block content %}

<!-- Button to trigger modal for adding product -->
<button type="button" class="btn btn-primary mb-4" data-toggle="modal" data-target="#addProductModal">
    Add Product
</button>
<!-- Modal -->
<div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addProductModalLabel">Add Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="addProductForm" action="/add_product" method="POST" enctype="multipart/form-data">
                <div class="modal-body">
                    <div>
                        <label for="product_name">Product Name:</label>
                        <input type="text" name="product_name" id="productName" required>
                    </div>
                    <div>
                        <label for="image">Upload Product Image:</label>
                    <input type="file" name="image" id=productImage" accept="image/*" required>
                    </div>
                    <div>
                        <label for="product_category">Category:</label>
                        <input type="text" name="product_category" id="productCategory" required>
                    </div>
                    <div>
                        <label for="product_notes">Notes:</label>
                        <input type="text" name="product_notes" id="productNotes">
                    </div>
                    <div>
                    <input type="submit" value="Add Product">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save Product</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}