{% extends "index.html" %} {% block content %}
<h2 class="mt-3 text-center text-capitalize">{{ username }}'s Profile</h2>

<div class="container py-5">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<div class="card edit-profile-form">
				<div
					class="card-header"
					style="background-color: var(--main-color); color: white">
					Edit Profile
				</div>
				<div class="card-body">
					<form
						method="POST"
						action="{{ url_for('edit_profile', username=username) }}">
						<div class="mb-3">
							<label
								for="username"
								class="form-label"
								>Current Username</label
							>
							<input
								type="text"
								class="form-control validate"
								id="current_username"
								value="{{ username.capitalize() }}"
								name="current_username"
								minlength="3"
								required />
						</div>
						<div class="mb-3">
							<label
								for="username"
								class="form-label"
								>Username</label
							>
							<input
								type="text"
								class="form-control validate"
								id="username"
								name="username"
								minlength="3" />
						</div>
						<div class="mb-3">
							<label
								for="current_password"
								class="form-label">
								Current Password
							</label>
							<input
								type="password"
								class="form-control validate"
								id="current_password"
								value=""
								name="current_password"
								minlength="5"
								maxlength="20"
								pattern="^[a-zA-Z0-9]{5,20}$"
								required />
							<small class="form-text text-muted"
								>Enter your current password here.</small
							>
						</div>
						<div class="mb-3">
							<label
								for="password"
								class="form-label">
								Password
							</label>
							<input
								type="password"
								class="form-control"
								id="password"
								name="password"
								minlength="5"
								maxlength="20"
								pattern="^[a-zA-Z0-9]{5,20}$"
								required />
						</div>
						<button
							type="submit"
							class="btn btn-main">
							Update Profile
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
