{% extends "index.html" %} {% block content %}
<!-- Hero -->
<div class="container text-center">
	<div class="home-title">
		<h1 class="small">
			Welcome to<span class="display-4"
				><br />
				Log It All!</span
			>
		</h1>
		<p class="login-text mt-3">
			This is a simple web app to log your products.
		</p>
		<div class="image-container">
			<img
				class="home-image mb-2"
				src="{{ url_for('static', filename='images/site_images/home-image.jpeg') }}"
				alt="Log It All Hero Image" />
		</div>

		<p class="mt-2">You can add, edit, and delete products.</p>
		<div class="home-btns mb-3">
			<a
				class="btn btn-primary btn-lg"
				href="{{ url_for('register')}}"
				role="button"
				>Register</a
			>

			<!-- Login button -->
			<a
				class="btn btn-primary btn-lg"
				href="{{ url_for('login') }}"
				role="button"
				>Login</a
			>
		</div>
	</div>
</div>
{% endblock %}
