{%block content%}
<h1>All Products</h1>
<div class="">
	<form
		action="{{ url_for('search') }}"
		method="POST">
		<div class="input-group mb-2 pl-0">
			<input
				class="form-control my-0 py-1"
				type="text"
				name="query"
				id="query"
				minlength="3"
				maxlength="50"
				class="validate"
				placeholder="Search"
				aria-label="Search"
				required />
			<label for="query"></label>
		</div>
		<div class="container">
			<div
				class="row row-cols-1 row-cols-sm-2 row-cols-md-4 justify-content-between">
				<button
					type="submit"
					class="col btn btn-primary text-shadow">
					<i class="fas fa-search left p-1"></i>Search
				</button>
				<a
					href="{{ url_for('products') }}"
					class="col btn btn-danger text-shadow"
					>Reset</a
				>
			</div>
		</div>
	</form>
</div>

<table class="table table-striped mt-4">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Product</th>
			<th scope="col">Product Image</th>
			<th scope="col">Category</th>
			<th scope="col">Notes</th>
			<th scope="col">Date Added</th>
			<th scope="col">Edit</th>
			<th scope="col">Delete</th>
		</tr>
	</thead>
	{% for product in products %}
	<tr>
		<td>{{ product.product_name }}</td>
		<td>{{ product.image_url }}</td>
		<td>{{ product.product_category }}</td>
		<td>{{ product.product_notes }}</td>
		<td>{{ product.date_added }}</td>
		<td>
			<a
				href="{{ url_for('edit_product', product_id=product._id) }}"
				class="mr-2"
				><i class="fas fa-edit"></i
			></a>
		</td>
		<td>
			<a
				href="{{ url_for('delete_product', product_id=product._id) }}"
				class="text-danger"
				><i class="fas fa-trash"></i
			></a>
		</td>
	</tr>
	{% endfor %}
</table>

{%endblock%}
