{% extends "index.html" %} 

{% block content %}

<h3 class="page-title mt-3 text-center">Product Log</h3>

<div class="">
	<form
		action="{{ url_for('search') }}"
		method="POST">
		<div class="input-group mb-2 pl-0">
			<input
				class="form-control my-0 py-1"
				type="text"
				name="query"
				id="query"
				minlength="3"
				maxlength="50"
				class="validate"
				placeholder="Search"
				aria-label="Search"
				required />
			<label for="query"></label>
		</div>
		<div class="container">
			<div
				class="row row-cols-1 row-cols-sm-2 row-cols-md-4 justify-content-between">
				<button
					type="submit"
					class="col btn btn-primary text-shadow">
					<i class="fas fa-search left p-1"></i>Search
				</button>
				<a
					href="{{ url_for('products') }}"
					class="col btn btn-danger text-shadow"
					>Reset</a
				>
			</div>
		</div>
	</form>
</div>

<!-- Add product button -->
<div class="add-btn">
	<a
		href="{{ url_for('add_product')}}"
		class="btn btn-primary"
		>Add Product</a
	>
</div>
<!-- Products Grid -->
<div class="container py-4 flex-grow-1">
    
	<div class="row row-cols-1 row-cols-md-3 g-4">
		{% for product in products %}
		<div class="col">
			<div class="card h-100 product-card">
				<img
					src="{{ product.image_url }}"
					class="card-img-top product-image"
					alt="{{ product.product_name }}" />
				<div class="card-body">
					<h5 class="card-title">{{ product.product_name }}</h5>
					<p class="card-text">{{ product.date_added }}</p>
				</div>
				<div class="card-footer">
					<a
						class="btn btn-primary"
						href="{{ url_for('edit_product', product_id=product._id) }}"
						><i class="fas fa-edit"></i
					></a>
					<a
						class="btn btn-danger"
						href="{{ url_for('delete_product', product_id=product._id) }}"
						><i class="fas fa-trash"></i
					></a>
					<button
						class="btn btn-info"
						onclick="showDescription('{{ product.id }}')">
						<i class="fas fa-info"></i>
					</button>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}
