{%block content%}
<h1>All Products</h1>
<table>
	<tr>
		<th>Product</th>
		<th>Product Image</th>
		<th>Category</th>
		<th>Notes</th>
		<th>Date Added</th>
	</tr>
	{% for product in products %}
	<tr>
		<td>{{ product.product_name }}</td>
		<td>{{ product.image_url }}</td>
		<td>{{ product.product_category }}</td>
		<td>{{ product.product_notes }}</td>
		<td>{{ product.date_added }}</td>
		<td>
			<a
				href="{{ url_for('edit_product', product_id=product.id) }}"
				class="mr-2"
				><i class="fas fa-edit"></i
			></a>
		</td>
		<td>
			<a
				href="#"
				class="text-danger"
				><i class="fas fa-trash"></i
			></a>
		</td>
	</tr>
	{% endfor %}
</table>

{%endblock%}
