{% extends "index.html" %} {% block content %}
<div class="container py-5">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<div class="card">
				<div
					class="card-header"
					style="background-color: var(--main-color); color: white">
					Register
				</div>
				<div class="card-body">
					<form
						method="POST"
						action="{{ url_for('register') }}">
						<div class="mb-3">
							<label
								for="username"
								class="form-label"
								>Username</label>
							<input
								type="text"
								class="form-control validate"
								id="username"
								placeholder="Username"
								name="username"
								minlength="3"
								required />
						</div>
						
						<div class="mb-3">
							<label
								for="password"
								class="form-label">
                                Password
                            </label>
							<input
								type="password"
								class="form-control"
								id="password"
								placeholder="Password"
                                name="password"
								minlength="5"
								maxlength="20"
								pattern="^[a-zA-Z0-9]{5,20}$"
								required />
						</div>
						<button
							type="submit"
							class="btn btn-main">
							Register
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
